
  
  .table1 {
    border-color: #678ef9; 
    font-family: 'Dancing Script', cursive;
    font-size: 18px; 
    border-collapse: collapse;
    margin: 0; 
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .table1 th {
    background-color: #eff3fadd; 
    color: #5575ea; 
    font-weight: normal; 
    text-align: center;
    border-bottom: none; 
    padding: 10px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  .table1 td {
    border-bottom: 1px dashed #558be9; 
    padding: 8px;
    text-align: left;
    color: #0a0b0c; 
  }


  .button{
    font-size: larger;
    color:#5575ea;
width: 130px;

  }
  


  .form{
    margin-top: -340px;
    display: grid;
    grid-template-columns: auto;
   background-color: #5575ea;
   padding: 10px;
   width: 300px;
   border-radius: 5px;
margin-left: 900px;

  }
  #id{
    width: 190px;
    height: 35px;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  #name{
    width: 190px;
    height: 35px;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  #amount{
    width: 190px;
    height: 35px;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  #spenddate{
    width: 190px;
    height: 35px;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  #category{
    width: 190px;
    height: 35px;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  
  #text{
    margin-left: 45px;
    margin-bottom: 60px;
  }